/* Utils */

:root {
    --violet: rgb(185, 20, 80)
}

/* General */
body {
    background-color: var(--violet);
}

.section-header {
    color: white;
    text-align: center;
}

.row {
    background-color: white;
}

#ticket-data label {
    color: var(--violet);
}

#ticket-data .input-cust {
    border: 1px solid var(--violet);
    text-align: center;
    line-height: inherit;
    font-weight: 500;
}

#ticket-data .input-cust:focus-visible {
    outline: none;
}